    #profileIMG {
      width: 168px;
      height: 104px;
    }
    #introIMG  {
      float  : right;
    }
    body {
      margin : 0;
    }
    .profile_banner {
      display: grid;
      grid-template-columns: 200px auto;
      grid-template-rows: 200px;
    }
    header {
      display: grid;
      grid-template-comums: 100px auto;
      grid-template-rows: 200px;
    }
    #icon {
      float:left;
      height: 100px;
      width: 100px;
    }
    .profile {
      border: 1px solid gray;
      padding: 10px;
      padding-bottom : 1px;
      margin: 0px;
    }
    .profile_line {
      text-align: center;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      padding:5px;
      width: 168px;
      height: 150x;
    }
    .profile_text {
      font-size: 12px;
      padding-top: 10px;
    }
    .header {
      text-align: center;
      border-bottom: 1px solid gray;
      padding: 70px;
      margin: 0;
    }
    nav {
      border-right: 1px solid gray;
      width: 199px;
      height: 10000px;
      float:left;
    }
    nav ol {
      list-style: none;
    }
    article {
      float:left;
      padding: 10px;
    }
    h1 {
      font-size: 50px;
    }
